.head{

	.slider{
		height: 323px;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
	}	

	.navigation-bar{
		background-color: $color-white;
		position: absolute;
		z-index: 2;
		top: 15px;
		width: 100%;

		.logo{
			font-family: $font-family-logo;
			font-weight: $font-logo-weight-normal;
			color: $color-primary;
			font-size: 2em;
			float: left;
			padding: 10px 0px;
			letter-spacing: -0.1em;

			span{
				font-weight: $font-logo-weight-bold;
			}
		}
	}
}
