/* Standard colors */
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #f1f1f1;

$color-link: #242424;
$color-primary: #0037ff;

/* Fonts */
$font-family: 'Titillium Web', sans-serif;
$font-size-global: 14px;
$font-weight-ligth: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-family-logo: 'Cantarell', sans-serif;
$font-logo-weight-normal: 400;
$font-logo-weight-bold: 700;

/* Images Paths*/
$images-path: "../images/";